body {
    color:black; 
    background-color: darkgray; 
    font-family:monospace; 
    font-size:24px;
}

a {
    padding-left:5px; 
    padding-right:5px; 
    text-decoration:none; 
    color:yellow; 
    /* border: 1px solid darkgray;  */
    background-color: gray;
}

div {margin:5px}

table { 
    font-family:monospace;
    font-size:24px;
}

/* tr:nth-child(even) {background-color: #888;}
tr:nth-child(odd) {background-color: #999;} */

th {
    border: 1px solid darkgray; 
    /* background-color: white; */
    color:black;
    padding-left:5px; 
    padding-right:5px; 
}

td {    
    border: 1px solid gray; 
    background-color: gray;
}

red {color: red}
green {color: green}
blue {color: blue}
